{%extends 'main_pages/base.html'%}
{% block content %}
{{block.super}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            {% for item in image %}
            <div class="card mb-3" id="like">
                <div class="card-header">
                    <a href="profile/{{item.user.username}}/">
                        <div class="row">
                            <div class="">
                                <img src="{{item.profile.Profile_photo.url}}" alt="img" width="50px" height="50px"
                                    style="border-radius: 50%; margin-left: 10px;" class="img-responsive">
                            </div>
                            <div class="col-md-2" style="margin-top: 10px;font-weight: bold;">
                                <h4 class="card-title">{{item.user.username}}</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <img class="card-img-top img-responsive" src="{{item.Image.url}}" alt="Card image cap" />
                <div class="card-body">
                    <div class="row" id="like">
                        <div class="">
                            <span class="heart">
                                <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;"></i><span class="count"> 0</span>
                            </span>
                        </div>
                        &nbsp; &nbsp;
                        <div class="comnt">
                            <a href=""><i class="fa fa-comment" style="font-size:20px;"></i></a>
                        </div>
                    </div>
                    <p><strong>{{item.user.username}}</strong> {{item.Image_caption}}</p>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text" style="font-size:14px;"><small class="text-muted">Updated-{{item.pub_date|timesince}}</small></p>
                </div>
            </div>


            {% endfor %}
        </div>
        <div class="col-md-4 scroll">
            <div class="card"></div>
        </div>
    </div>
</div>
<script>

   // console.log('hello world');

//////////////////////////////// 
// make heart red and         //
// increase or decrease likes //
////////////////////////////////

// initiate a click event
$('.fa-heart').click(function() {
  // create variable to store parent of clicked heart icon
  var parent = $(this).parent('.likes');
  
  // create variable to store span that is child of parent element
  var countText = parent.find('span');
  
  // create variable to store integer version of text inside span
  var count = parseInt(countText.text());
  
  // toggle red class on heart icon
  $(this).toggleClass('red');
  
  // if icon has red class, add 1 to count total and display that on page
  if( $(this).hasClass('red') ) {
    count += 1;
    countText.text(' ' + count);
  // otherwise remove one from count total and display that info on page  
  } else {
    count -= 1;
    countText.text(' ' + count);
  }
});

</script>
{% endblock %}