{%extends 'main_pages/base.html'%}
{% block content %}
{{block.super}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            {% for item in image %}
            <div class="card mb-3" id="like">
                <div class="card-header">
                    <a href="{% url 'profile' %}">
                        <div class="row">
                            <div class="">
                                <img src="{{user.profile.Profile_photo.url}}" alt="img" width="50px" height="50px"
                                    style="border-radius: 50%; margin-left: 10px;">
                            </div>
                            <div class="col-md-2" style="margin-top: 10px;font-weight: bold;">
                                <h4 class="card-title">{{user.username}}</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <img class="card-img-top img-responsive" src="{{item.Image.url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <div class="row" id="like">
                        <div class="">
                            <a href=""><i class="far fa-heart" style="font-size:28px;" class="click" onclick="clicca()"></i></a>
                        </div>
                        &nbsp; &nbsp;
                        <div class="">
                            <a href=""><i class="far fa-comment" style="font-size:28px;"></i></a>
                        </div>
                    </div>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>


            {% endfor %}
        </div>
        <div class="col-md-4 scroll">
            <div class="card"></div>
        </div>
    </div>
</div>
<!-- <script>

    punticlick = 0;
    punti = document.getElementById("cliccare");
    function clicca() {
        punticlick++;
        punti.value = punticlick;
    }

</script> -->
{% endblock %}