<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card text-center">
            <div class="card-header">
                Profile information
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                
            </div>
            <div class="card-footer text-muted">
                    <a href="#" class="btn btn-primary">like</a> <a href="#" class="btn btn-primary">comment</a>
                Comments
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>